html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7e9de;
  color: #1a1a1a;
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.board {
  padding: 32px;
  white-space: nowrap;
}
.board-column {
  display: inline-block;
  width: 300px;
  margin: 12px;
  padding: 2px;
  box-sizing: content-box;
  background-color: #d87f7a;
  color: #fff;
  border-radius: 8px;
  vertical-align: top;
}
.column-title {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  text-transform: lowercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.column-wrap {
  background-color: #f9d9d8;
  border-radius: 6px;

  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.column {
  position: relative;
  min-height: 71px;
  transition: height 0.3s;
}
.item {
  display: block;
  position: absolute;
  z-index: 1;
  cursor: grab;
}
.item.muuri-item-dragging {
  z-index: 3;
  cursor: grabbing;
  opacity: 0.8;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  box-sizing: border-box;
  width: calc(300px - 16px);
  white-space: normal;
  background-color: #ffffff;
  color: #1a1a1a;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: 2px 2px 0px #000000;
  padding: 16px 24px;
  margin: 8px;
}
.item-assignment {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  vertical-align: top;
}
.item .item-assignment {
  float: right;
}

.counter {
  margin: 0 0 0 12px;
  padding: 4px 12px;
  border: 2px solid #000000;
  border-radius: 24px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
