html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7e9de;
  color: #1a1a1a;
  font-family: sans-serif;
}

.board {
  padding: 32px;
  white-space: nowrap;
}
.board-column {
  display: inline-block;
  width: 300px;
  margin: 12px;
  padding: 2px;
  box-sizing: content-box;
  background-color: #d87f7a;
  color: #fff;
  border-radius: 8px;
  vertical-align: top;
}
.column-title {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
  text-transform: lowercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.column {
  position: relative;
  background-color: #f9d9d8;
  min-height: 71px;
  border-radius: 6px;
  transition: height 0.3s;
}
.item {
  display: block;
  position: absolute;
  z-index: 1;
}
.item.muuri-item-dragging {
  z-index: 3;
  cursor: grabbing;
  opacity: 0.8;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  box-sizing: border-box;
  width: calc(300px - 16px);
  white-space: normal;
  background-color: #ffffff;
  color: #1a1a1a;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: 2px 2px 0px #000000;
  padding: 16px 24px;
  margin: 8px;
  cursor: grab;
}
